@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 25%;
    border-color: 2px solid #43bb25;
}

.header {
    width: 50%;
    border-radius: 10px;
    background: #3b5999;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-family: 'Bungee Spice', cursive;
}

.word-display {
    border: 1px solid slateblue;
    margin-top: 3rem;
    font-size: 80px;
    color: #3b5999;

}

.word-input-box {
    margin-top: 2rem;
}

.word-input {
    padding: 0.5rem;
    border-radius: 5px;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.time {
    font-size: 30px;
}

.score {
    font-size: 30px;
}

.button {
    width: 200px;
    height: 35px;
    background: #3b5999;
    color: #fff;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
    border-radius: 5px;

}

.button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px #3b5999;
}

.loading {
    background: #ccc;
    cursor: not-allowed;
}